.goods {
  color: #fff;
  background-color: darkgrey;
  background-color: transparent;
  font-size: 0;
}
.goods__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  // width: 23.3%;
  width: 25%;
  padding-right: 2.25%;
  // margin-right: 2.25%;
  // padding-right: 1.125%;
  // padding-left: 1.125%;
  padding: 0 1.125%;
  font-size: 16px;
  // background-color: green;
  cursor: pointer;
  transition: all 0.8s ease 0s;
  box-sizing: border-box;
  &:last-child {
    // padding-right: 0;
    // margin-right: 0;
  }
  &:hover {
    .goods__text {
      margin-bottom: 20px;
      text-decoration: none;
      transition: all 0.8s ease 0s;
    }
    .goods__btn {
      opacity: 1;
      transition: all 0.8s ease 0s;
    }
    .goods__price {
      bottom: 159px;
    }
    min-height: 405px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.8s ease 0s;
  }
  &--hit {
    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 61px;
      height: 61px;
      background: transparent url("../../img/icons/icon-hit.png") no-repeat;
    }
  }
}

.goods__img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.goods__price {
  position: absolute;
  bottom: 110px;
  left: 15px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  font-family: $roboto-bold;
  color: $link;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  z-index: 5;
  & i {
    width: 32px;
    font-size: 25px;
    font-size: 0;
    background: url("../../img/icons/icon-rub.png") no-repeat;
    background-color: red;
  }
}
.goods__text {
  margin: 0;
  min-height: 40px;
  // padding: 0 5px;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: $roboto-medium;
  color: $link;
  text-align: center;
  // border-bottom: 1px solid rgba(0,0,0,.2);
  text-decoration: underline;
  text-decoration-color: rgba(0,0,0,.2);
}

.goods__btn {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  // margin-left: 35px;
  // margin-left: 14.5%;
  margin: 0 12.25%;
  margin-bottom: 17px;
  padding: 10px 13px;
  color: $button-textcolor;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: $roboto-bold;
  text-decoration: none;
  text-align: center;
  border-radius: 100px;
  text-overflow: ellipsis;
  @include button-background;
  @include button-box-shadow;
  @include button-text-shadow;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0;
  &:hover {
    color: $button-textcolor;
    @include button-background-hover;
    @include button-box-shadow-hover;
    transition: all 0.8s ease 0s;
  }
  &:active {
    color: $button-textcolor-active;
    @include button-background-active;
    @include button-box-shadow-active;
  }
}
