.site-wrapper {
  // min-height: 940px;
  background: #849d8f url("../../img/pict/slide1.png") no-repeat top center;
  transition: background-image 0.5s ease,
              background-color 0.5s ease;
  &::before, &::after {
    content: "";
    visibility: hidden;
    background-image: url("../../img/pict/slide2.png") no-repeat;
  }
  &::after {
    background-image: url("../../img/pict/slide3.png") no-repeat;
  }
}
