body {
  min-width: 320px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #7e7f84;
  background-color: #fff;
}


/* index.html begin
/*==============================*/












/* end index.html
/*==============================*/
